name: Prettier
on: pull_request
jobs:
  prettier:
    name: Prettier JSON Formatter
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v5
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20
      - name: Install Prettier
        run: npm install prettier
      - name: Run Prettier
        uses: wearerequired/lint-action@v2
        with:
          github_token: "${{ secrets.github_token }}"
          eslint: false
          prettier: true
          auto_fix: true
          prettier_args: --ignore-path .prettierignore
