name: Unit Tests

on:
  push:
    branches:
      - "main"
  pull_request:
jobs:
  tests:
    timeout-minutes: 10
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 1
      # https://docs.github.com/en/actions/using-jobs/using-a-matrix-for-your-jobs#defining-the-maximum-number-of-concurrent-jobs
      matrix:
        dotnet_version: ["9", "10"]
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v6
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ matrix.dotnet_version }}
      - name: Run integration tests
        run: dotnet test MaLoIdentModelsTests/MaLoIdentModelsTests.csproj
        working-directory: "MaLoIdentModels"
